In [1]:
x=5
y="john"
print(x)
print(y)

5
john

In [3]:
x="gagan"
print(x)

gagan

In [13]:
x=4
x="gagan"
print(x)

gagan

In [19]:
x=4
y="gagan"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [25]:
x="john"
x='john'
print(x)

john

In [29]:
a= 6
A="gagan"
print(a)

6

In [37]:
print(45+9)

54

In [43]:
print(6+8*6)

54

In [45]:
L1=["gagan","mannu","harsh","rahul","komal"]
print(L1)

['gagan', 'mannu', 'harsh', 'rahul', 'komal']

In [47]:
L1=["gagan","mannu","harsh","rahul","komal"]
print(len(L1))

5

In [51]:
L1=["gagan","mannu","harsh","rahul","komal"]
L2=[1,2,3,4,5]
print(L1)
print(L2)

['gagan', 'mannu', 'harsh', 'rahul', 'komal']
[1, 2, 3, 4, 5]

In [32]:
L1=["gagan","mannu","harsh","rahul","komal"]
L2=[1,2,3,4,5]
print(len(L1))
print(len(L2))

5
5

In [69]:
L1=["gagan",45,True,34,"male"]
print(L1)

['gagan', 45, True, 34, 'male']

In [71]:
L1=["gagan","mannu","harsh","rahul","komal"]
print(type(L1))

<class 'list'>

In [73]:
L1=list(("gagan","mannu","harsh","rahul","komal"))
print(L1)

['gagan', 'mannu', 'harsh', 'rahul', 'komal']

In [75]:
thistuple=("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [77]:
thistuple=("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [79]:
thistuple=("apple","banana","cherry","apple","cherry")
print(len(thistuple))

5

In [83]:
thistuple=("apple",)
print(type(thistuple))

<class 'tuple'>

In [85]:
thistuple=("apple")
print(type(thistuple))

<class 'str'>

In [91]:
tuple1=("apple","bannana","cherry")
tuple2=(1,2,3,4)
tuple3=(True,False,False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'bannana', 'cherry')
(1, 2, 3, 4)
(True, False, False)

In [97]:
tuple1=("apple",3,True,"cherry",False)
print(tuple1)

('apple', 3, True, 'cherry', False)

In [9]:
mytuple=("apple","bananna","cherry")
print(mytuple)

('apple', 'bananna', 'cherry')

In [15]:
a = 200
b = 100

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [23]:
L1= "my name is gagan"
print(L1[1:5])

y na

In [25]:
L1= "my name is gagan"
print(L1[1:7])

y name

In [31]:
L1= "my name is gagan"
print(L1[:16])

my name is gagan

In [39]:
L1= "my name is gagan"
print(L1[1:])

my name is gagan

In [41]:
L1= "my name is gagan"
print(L1[-1:])

n

In [47]:
L1= "my name is gagan"
print(L1[-5:-2])

gag

In [49]:
L1= "my name is gagan"
print(L1[-12:-3])

ame is ga

In [51]:
L1= "My Name is Gagan"
print(L1.upper())

MY NAME IS GAGAN

In [53]:
L1= "My Name is Gagan"
print(L1.lower())

my name is gagan

In [55]:
L1= "My Name is Gagan"
print(L1.replace("G","J"))

My Name is Jagan

In [57]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [59]:
a = "Hello"
b = "World"
c = a+" "+ b
print(c)

Hello World

In [63]:
age= 22
txt=f"my name is gagan and i am {age}"
print(txt)

my name is gagan and i am 22

In [71]:
quantity = 500
txt=f"the average {quantity} kg weight is a pertcular container"
print(txt)

the average 500 kg weight is a pertcular container

In [79]:
print((7 + 3) - (3 + 3))

4

In [81]:
print((6 + 3) * (6 + 3))

81

In [83]:
print((6 + 3) / (6 + 3))

1.0

In [87]:
L1=["gagan","saksham","aditya","atul","varun"]
L1[3]= "namit"
print(L1)

['gagan', 'saksham', 'aditya', 'namit', 'varun']

In [89]:
L1=["gagan","saksham","aditya","atul","varun"]
L1[1]= "namit"
print(L1)

['gagan', 'namit', 'aditya', 'atul', 'varun']

In [91]:
L1=["gagan","saksham","aditya","atul","varun"]
L1[-2]= "namit"
print(L1)

['gagan', 'saksham', 'aditya', 'namit', 'varun']

In [97]:
L1=["gagan","saksham","aditya","atul","varun"]
L1[2:3]= "namit"
print(L1)

['gagan', 'saksham', 'n', 'a', 'm', 'i', 't', 'atul', 'varun']

In [101]:
L1=["gagan","saksham","aditya","atul","varun"]
L1.insert(2,"mannu")
print(L1)

['gagan', 'saksham', 'mannu', 'aditya', 'atul', 'varun']

In [103]:
L1=["gagan","saksham","aditya","atul","varun"]
L1.append("namit")
print(L1)

['gagan', 'saksham', 'aditya', 'atul', 'varun', 'namit']

In [105]:
L1=["gagan","saksham","aditya","atul","varun"]
L2=[1,2,3,4,5]
L3= L1+L2
print(L3)

['gagan', 'saksham', 'aditya', 'atul', 'varun', 1, 2, 3, 4, 5]

In [3]:
L1 = ["apple", "banana", "cherry"]
for x in L1:
  print(x)

apple
banana
cherry

In [9]:
L1=[1,2,3,4]
for x in L1:
    print(x)

1
2
3
4

In [11]:
L1=["gagan",2,"hopper",True,4]
for x in L1:
    print(x)

gagan
2
hopper
True
4

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
vegie = []

for x in fruits:
  if "a" in x:
    vegie.append(x)

print(vegie)

['apple', 'banana', 'mango']

In [31]:
L1=["gagan","prachi","aman","mannu","kosjhik","saksham"]
L1.sort()
print(L1)

['aman', 'gagan', 'kosjhik', 'mannu', 'prachi', 'saksham']

In [37]:
L1=[45,74,84,28,65,100]
L1.sort()
print(L1)

[28, 45, 65, 74, 84, 100]

In [41]:
L1=["gagan","prachi","aman","mannu","kosjhik","saksham"]
L1.sort(reverse = True)
print(L1)

['saksham', 'prachi', 'mannu', 'kosjhik', 'gagan', 'aman']

In [45]:
L1=[45,74,84,28,65,100]
L1.sort(reverse = True)
print(L1)

[100, 84, 74, 65, 45, 28]

In [23]:
mytuple1 = ("apple", "banana", "cherry")
mytuple2 = (1, 5, 7, 9, 3)
mytuple3 = (True, False, False)

print(mytuple1)
print(mytuple2)
print(mytuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [51]:
a = 50
b = 100
if b > a:
    print("b is greater than a")

b is greater than a

In [61]:
a = 100
b = 100
if b > a:
    print("b is greater than a")
elif b == a:
    print("b is equal to a")

b is equal to a

In [67]:
a = 100
b = 200
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is smaller than  b")

a is smaller than  b

In [71]:
a = 100
b = 200
if a <= b:
    print("a is greater than b")
elif a >= b:
    print("a is smaller than  b")

a is greater than b

In [75]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a > b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

In [13]:
a = 50
b = 900
c = 200
if b > a and b > c:
    print("both condition are True")

both condition are True

In [23]:
a = 100
b = 50
c = 500
if a > b and c > a:
    print("both condition are true")

both condition are true

In [29]:
a = 100
b = 50
c = 500
if a > b or a > c:
    print("atleast one of the condition are true")

atleast one of the condition are true

In [48]:
a = 100
b = 50
c = 500
if not b> a:
    print("b is not greater than a")

b is not greater than a

In [50]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [54]:
x = 20

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.

In [7]:
x = 41

if x > 10:
  print("ten +,")
  if x > 30:
    print("and ")
  else:
    print("but not above 20.")

ten +,
and also above 20!

In [19]:
y = 100

if y >50:
    print("y has been pass becouse of its greater")
    if y > 80:
        print("y has been average because of greater")
    else:
        print("y has been pass")

y has been pass becouse of its greater
y has been average because of greater

In [34]:
mytuple1=("gagan","akhil")
mytuple2=("sparsh","vasu")
mytuple3= mytuple1+mytuple2
print(mytuple3)

('gagan', 'akhil', 'sparsh', 'vasu')

In [1]:
i = 1
while i < 8:
    print(i)
    i= i + 1

1
2
3
4
5
6
7

In [11]:
i = 0
while i < 10:
    print(i)
    i = i + 2

0
3
6
9

In [12]:
i = 0 
while i < 10:
    i +=1
    if i ==8:
      continue
    print(i)

1
2
3
4
5
6
7
9
10

In [23]:
i = 0
while i < 6:
    i +=1
    if i ==6:
        continue
    print(i)

1
2
3
4
5